Package: hackbox-update
Version: 0.8.0
Section: admin
Maintainer: Carl J Smith <BM-NBHLt5EUFVEbRCmrbVrfCyaB2c8d24U9>
Installed-Size: 72
Priority: optional
Architecture: all
Depends: python (>=2.7)
Description: Updates the system.
 Automaticly preforms system updates for the user. Handles config files and conflicts. Also will fix some problems with packages. Runs at boot and once daily.
